$test: #bada55;

body, html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.main-container {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
