@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #878787;

$color-theme: #1ABC9C;
$color-carrot: #E67E22;

$font-thin: 100;
$font-heavy: 900;

body, html {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
}

.main-container {
  background-image: url( "../images/background.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 150px;

  .time-container {
    background: $color-white;
    margin: auto;
    width: 600px;
    height: 310px;
    box-shadow: 0 1px 20px 0 $color-gray;

    .date-container {
      color: lighten( $color-gray, 20% );
      margin: 0 50px;
      padding-top: 20px;
      .weekday {
        float: left;
      }
      .date {
        float: right;
      }
    }

    .time {
      text-align: center;
      color: $color-black;
      margin: 19px 0;

      .time-hour, .time-min {
        font-size: 150px;
      }
      .time-period {
        font-size: 30px;
        font-weight: $font-thin;
      }
      .time-hour {
        font-weight: $font-heavy;
      }
      .time-min {
        font-weight: $font-thin;
      }
    }

    .set-alarm-button, .set-alarm-options {
      width: 100%;
      line-height: 45px;
      text-align: center;
    }
    .set-alarm-button {
      display: block;
      background: $color-theme;
      color: $color-white;
      cursor: pointer;

      &:hover {
        background-color: darken( $color-theme, 7% );
        transition: 0.5s;
      }
    }

    .set-alarm-options {
      background: lighten( $color-gray, 15% );
      display: none;
    }

    .set-alarm-confirm, .set-alarm-cancel {
      width: 75px;
      line-height: 45px;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      float: right;
      color: $color-white;
    }

    .set-alarm-confirm {
      background: $color-theme;

      &:hover {
        background-color: darken( $color-theme, 7% );
        transition: 0.5s;
      }
    }
    .set-alarm-cancel {
      background: $color-carrot;

      &:hover {
        background-color: darken( $color-carrot, 7% );
        transition: 0.5s;
      }
    }
  }

  .alarm-list {
    margin: 80px auto;
    width: 600px;

    .alarm-tile {
      margin: 15px 0;
      background: $color-theme;
      color: $color-white;
      height: 45px;
      line-height: 45px;
      padding: 0 5px 0 30px;
      box-shadow: 0 1px 20px 0 $color-gray;

      .alarm-time {
        float: left;
      }
      .alarm-delete {
        float: right;
        width: 75px;
        text-align: center;
        cursor: pointer
      }
    }
  }

  .alert {
    margin: 20px auto;
    width: 600px;
    background: $color-carrot;
    color: $color-white;
    box-shadow: 0 1px 20px 0 $color-gray;
    height: 45px;
    line-height: 45px;
    visibility: hidden;
    text-align: center;
  }

  hr {
    border-top: lighten( $color-gray, 20% );
  }

  select {
   height: 28px;
   margin: 0 10px;
   font-size: 20px;
  }

  .fa-trash-o:hover {
    color: darken( $color-white, 50% );
    transition: 0.5s;
  }

}
